<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css" integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="/public/css/style.css">
    <link rel="icon" href="\public\img\logo.png">
    <title>Emerson Souza - Desenvolvedor Full Stack</title>
</head>
<body>
    <div class="background"><img src="\public\img\fundo.png" alt=""></div>
    <div class="container">
        <header>
            <div class="logo">
                <img src="\public\img\logo.png" alt="Logo do Emerson Souza">
                <h1>Emerson Souza</h1>
            </div>
    
            <nav>
                <ul>
                    <li><a href="#music">Preferida</a></li>
                    <li><a href="#about">Sobre</a></li>
                    <li><a href="#projects">Projetos</a></li>
                    <li><a href="#contact">Contato</a></li>
                </ul>
            </nav>
        </header>
    
        <main>
            <section id="music" class="music">
                <video controls><source src="\public\video\07. DJONGA • DEMORO A DORMIR FT. MILTON NASCIMENTO.mp4" type="video/mp4"></video>
          </section>
            
            <section id="about" class="about">
                <div class="direita">
                    <img src="\public\img\emerson.jpg" alt="foto Emerson">
                </div>
    
                <div class="esquerda">
                    <h1>Sobre mim</h1>
                <p>Olá, meu nome é Emerson Souza e sou um desenvolvedor Full Stack. Tenho experiência em diversas tecnologias e estou sempre buscando aprender mais.</p>
                <p>Atualmente, estou focado em projetos de desenvolvimento web e mobile, utilizando as mais recentes tecnologias do mercado.</p>
                </div>
            </section>
    
            <section class="linguage">
                <div class="linguage-list">
                    <div class="linguage-item">
                        <i class="fa-brands fa-html5" style="color: #ec6261;"></i>
                    </div>
                    <div class="linguage-item">
                        <i class="fa-brands fa-css3" style="color: #2965f1;"></i>
                    </div>
                    <div class="linguage-item">
                        <i class="fa-brands fa-js" style="color: #FFD600;"></i>
                    </div>
                    <div class="linguage-item">
                        <i class="fa-brands fa-react" style="color: #53C1DE;"></i>
                    </div>
                    <div class="linguage-item">
                        <i class="fa-brands fa-angular" style="color: #F44336;"></i>
                    </div>
                    <div class="linguage-item">
                        <i class="fa-brands fa-node" style="color: #21A366;"></i>
                    </div>
                    <div class="linguage-item">
                        <img src="\public\img\typescript.png" alt="typescript">
                    </div>
                    <div class="linguage-item">
                        <i class="fa-brands fa-php" style="color: #878EB7;"></i>
                    </div>
                    <div class="linguage-item">
                        <i class="fa-brands fa-laravel" style="color: #F34E39;"></i>
                    </div>
                </div>
            </section>
    
            <section class="projects" id="projects">
                <div class="project-list">
                    <a href="" class="project-item">
                        <div class="project-image">
                            <img src="\public\img\projeto1.png" alt="Projeto 1">
                        </div>
                        <h2>Gerenciamento de Sinistros</h2>
                    </a>
                    <a href="" class="project-item">
                        <div class="project-image">
                            <img src="\public\img\projeto2.png" alt="Projeto 2">
                        </div>
                        <h2>Projeto 2</h2>
                    </a>
                    <a href="" class="project-item">
                        <div class="project-image">
                            <img src="\public\img\projeto3.png" alt="Projeto 3">
                        </div>
                        <h2>Projeto 3</h2>
                    </a>
                    <a href="" class="project-item">
                        <div class="project-image">
                            <img src="\public\img\projeto4.png" alt="Projeto 4">
                        </div>
                        <h2>Projeto 4</h2>
                    </a>
                    <a href="" class="project-item">
                        <div class="project-image">
                            <img src="\public\img\projeto4.png" alt="Projeto 4">
                        </div>
                        <h2>Projeto 4</h2>
                    </a>
                    <a href="" class="project-item">
                        <div class="project-image">
                            <img src="\public\img\projeto4.png" alt="Projeto 4">
                        </div>
                        <h2>Projeto 4</h2>
                    </a>
                </div> 
            </section>
        </main>
    
        <footer>
            <section class="link">
                <a href="https://github.com/EmersonDevLucas"><i class="fa-brands fa-github" style="color: black;"></i></a>
                <a href="https://www.linkedin.com/in/emerson-lucas-tavares-de-souza/"><i class="fa-brands fa-linkedin" style="color: black;"></i></a>
                <a href="mailto:emersonlucasts@gmail.com
                "><i class="fa-solid fa-envelope" style="color: #000000;"></i></a>
                <a href="https://wa.me/5521993814968?text=Ol%C3%A1,%20vim%20pelo%20portf%C3%B3lio%20"><i class="fa-brands fa-whatsapp" style="color: #000000;"></i></a>
            </section>
            <p>&copy; 2025 Emerson Souza. Todos os direitos reservados.</p>
        </footer>
    </div>
    
</body>
</html>